<div class="bg-dark border-right p-3" id="sidebar">

    <h3 class="text-light">Gifs-App</h3>

    <hr class="text-white">

      <div class="list-group list-reset">
        <!-- recorrer con un ngfor el historial que traigo del component.ts  -->
        <a *ngFor="let item of historial"
            href="#" 
            class="list-group-item list-group-item-action text-center">
        <!-- imprimir el item  y el pipe titlecase capitaliza en el template o sea mantiene el formato de mayusculas y minusculas -->    
            {{item | titlecase}}
        </a>
      </div>

  </div>